.name{
    letter-spacing: 2px;
    color: cadetblue;
}

.head{
    color: cornflowerblue;
    letter-spacing: 3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular',  'Lucida Sans Unicode', ;
    margin-top: 3rem;
    font-size: 3rem;
}

.form{
    padding: 5px;
    border-radius: 5px;
    border: 1px solid grey  ;
    
}
.form:focus{
    outline: none;
}

.border{
    border-radius: 4px;
}

.edit:focus{
    background-color: rgb(44, 160, 44);
    border: none;
}

.dlt:focus{
    background-color: rgb(160, 41, 41);
    border: none;
}